/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.logo{
  margin: 7px 0 7px 0;
}

p {
  padding: 10px;
}

.scoreboard{
  font-size: 20pt;
}

.scoreboard .position{
  height: 100px;
  padding-top: 25px;
}

.scoreboard .latter-step{
   vertical-align: middle;
   margin: 10px 10px;
   padding: 5px;
   border-bottom: 1px solid #c1c1c1;
   background-color: #f3f3f3;
   cursor: pointer;
}

.scoreboard .info{
  font-size: 12pt;
}

.scoreboard .info .badge{
  margin-right: 10px;
}              

.img-container{
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 1px solid #c1c1c1;
}

.img-container img{
  width: 100px
}

.hidden{
  display: none;
}


