<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-type' content='text/html; charset=utf-8'>
	<title>NodeSite</title>
	<% include css %>
	<style type="text/css">
	.test{
		text-align: center;
	}
	</style>
</head>
<body>
	<div class="container">
		<div id="headerContainer"></div>
		<div class="container">
			<div class="row">
				<div class="test col-lg-12 center-block">
					<img src='/img/404.png' />
					<h1>404</h1>
					<h2>Sidan kunde inte hittas</h2>
				</div>
			</div>

			<% include footer %>
		</div>

		<% include js %>
</body>
</html>