<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-type' content='text/html; charset=utf-8'>
	<title>NodeSite</title>
	<% include css %>
</head>
<body>
	<div class="container">
		<div id="headerContainer"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-offset-2">
					<div class="col-lg-10 center-block">
						<div id="scoreboard-contaier"></div>
					</div>
				</div>
			</div>

			<footer>
				<p>&copy; laget.se 2014</p>
			</footer>

		</div>

		<% include js %>
		<script src="/js/scoreboardTable.js"></script>
		<script src="/js/index.js"></script>
</body>
</html>