<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-type' content='text/html; charset=utf-8'>
	<% if (isDebug) { %>
		<% include css %>
	<% } else { %>
		<% include css-release %>
	<% } %>
</head>
<body>
	<div class="container">
		<div id="headerContainer"></div>
		<div class="row">
			<div class="col-lg-offset-2">
				<div class="col-lg-10 center-block">
					<div id="player-form">
					</div>
				</div>
			</div>
		</div>

		<% include footer %>
	</div>

	<% if (isDebug) { %>
		<% include js %>
	<% } else { %>
		<% include js-release %>
	<% } %>
	<script src="/js/player.js"></script>
</body>
</html>
