<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-type' content='text/html; charset=utf-8'>
	<title>NodeSite</title>
	<% include css %>
</head>
<body>
	<div class="container">
		<div id="headerContainer"></div>
		<div class="container">
			<div class="row">
				<select id="sel">
					<option><i class="fa fa-user"></i>Robin Ridderholt</option>
					<option><i class="fa fa-user"></i>Herman Oskarsson</option>
					<option><i class="fa fa-user"></i>Oskar Gustafsson</option>
				</select>
			</div>

			<footer>
				<p>&copy; laget.se 2014</p>
			</footer>

		</div>

		<% include js %>
</body>
</html>